/* img reference: https://i2.wp.com/astrobob.areavoices.com/files/2011/09/Twinkling-stars.gif?resize=304%2C234 */
body {
    background-color: black;
    background-image: url("interstellar-sky.gif");
}

.App {
    width: 100vw;
    height: 100vh;
    color: limegreen;
    font-weight: bold;
    text-align: center;
}

input {
    background-color: black;
    color: white;
}

button {
    background-color: white;
}

.english-text {
    color: white;
    font-weight: bold;
}

.display {
    background-color: black;
}

.translation {
    color: white;
}